{{ define "header" }}
<div></div>
{{ end }}
{{ define "main" }}
<div class="container-fluid">
    <div>
        <p><a href="/classes">Tutte le classi energetiche</a></p>
    </div>
    <div>
        <span class="site-title align-middle">Classe</span> {{ partial "tag_svg" (dict "label" .Title "extra_class" "fill" "width" "10rem" ) }}
    </div>
    <!-- list template -->
    <div class="row row-cols-1 row-cols-md-2 g-4 pb-2">
        {{ range .RegularPages }}
        {{ partial "article_preview_list_item.html" . }}
        <!-- </div> -->
        {{ end }}
    </div>
</div>
{{ end }}