{{ define "header" }}
<div></div>
{{ end }}
{{ define "main" }}
<div class="container-fluid">
    <h2 class="site-title">Le classi energetiche</h2>
    <p><a href="/articles/le-nostre-nuove-classi-energetiche">Di che si tratta?</a></p>
    <!-- list template -->
    <div class="row row-cols-1 row-cols-md-2 g-4 pb-2 ≈">
        {{ range $className, $classObj := .Site.Taxonomies.classes }}
            {{ $count := len $classObj }}
            <div class="col position-relative">
                <span class="position-absolute badge rounded-pill bg-secondary" style="right:5%;top:12%">{{- $count -}}<span class="visually-hidden">{{$className}} class count</span></span>
                {{ with site.GetPage (path.Join "classes" $className )}}
                    {{ partial "tag_svg.html" (dict "label" .LinkTitle "extra_class" "fill") }}
                {{ end }}
            </div>
        {{ end }}
        
    </div>
</div>
{{ end }}
