$logo-color-lightgrey: rgb(182, 189, 205);
$logo-color-lightblue: rgb(33, 159, 198);
$logo-color-orange: rgb(244, 147, 47);
$logo-color-blue: rgb(102, 118, 141);

$highlight: rgb(250, 100, 50);
$grey: rgba(200, 200, 200, 1.0);
$lightgrey: rgba(200, 200, 200, 0.2);


$link-color: $logo-color-lightblue;