<!doctype html>
<html>
  {{ partial "head.html" .}}
  <body>
    {{ block "nav" . }}
    {{ partial "nav.html" . }}
    {{ end }}
    {{ if or .Params.showNewsletterBanner .IsHome }}
    {{ partial "newsletter_banner.html" . }}
    {{ end }}
    {{ if or .Params.showPicDisclaimerBanner }}
    {{ partial "picsdisclaimer_banner.html" . }}
    {{ end }}
    {{ block "header" . }}
    {{ partial "header.html" . }}
    {{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    
    <!-- Jquery -->
    <!-- <script src="{{ "js/jquery.min.js" | absLangURL }}"></script> -->

    <!-- Lodash -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    {{ $bsscripts := resources.Get "bootstrap/js/bootstrap.bundle.js" }}
    <script type="text/javascript" src="{{ $bsscripts.Permalink }}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
    <script src="/js/scripts.js"></script>
    {{ block "footer_scripts" . }}
    {{ end }}
  </body>
</html>
