{{ define "main" }}
<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-lg-8">
            <h1>
                Una associazione finalizzata ad accrescere la consapevolezza collettiva
            </h1>
            <p>
                E’ indispensabile promuovere una transizione socialmente sostenibile verso un modello economico volto alla conservazione delle risorse naturali ed in equilibrio con la capacità dell’ecosistema di rigenerarsi.
            </p>
            <p>
                Accrescere la propria consapevolezza in ordine all’impatto ambientale delle proprie scelte e comportamenti di consumo è una condizione necessaria al fine di perseguire l’obiettivo di ripristinare un sostanziale equilibrio tra attività umane ed ambiente.
            </p>
        </div>
        <div class="col col-12 col-lg-4">
            <h5>
                Ultimi articoli
            </h5>
            {{ partial "post-list.html" . }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-center">
            <h1>
                Abilitare le scelte
            </h1>
            <p>
                La tutela ambientale non può essere una “sine cura” dei giorni di festa.
            </p>
            <p>
                Occorre che ognuno, nei limiti delle proprie possibilità  acquisisca ed operi:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-4 col-center">
            <i class="fa-solid fa-bullhorn fa-3x">
            </i>
            <h4>
                Responsabilità
            </h4>
            <p>
                sapendosi parte di uno sforzo collettivo finalizzato ad assicurare una vita dignitosa alle nuove generazioni ed a quelle che verranno
            </p>
        </div>
        <div class="col col-xs-4 col-center">
            <i class="fa-solid fa-brain fa-3x">
            </i>
            <h4>
                Consapevolezza
            </h4>
            <p>
                conoscendo il contesto, le cause e le conseguenze dell'agire umano sull'ambiente
            </p>
        </div>
        <div class="col col-xs-4 col-center">
            <i class="fa-solid fa-bullseye fa-3x">
            </i>
            <h4>
                Obiettivi
            </h4>
            <p>
                Ponendosi degli obiettivi specifici, misurabili, raggiungibili e superabili di limitazione del proprio impatto ambientale, attraverso scelte di consumo e di comportamento consapevoli
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h4 style="text-align: center;">Il nostro approccio</h4>
            <ul>
                <li>
                    <i>
                        Occorre portare le scelte individuali verso la riduzione del consumo di risorse fisiche: materie prime, suolo, aria, acqua, energia, …
                    </i>
                </li>
                <li>
                    <i>
                        Ogni prodotto/servizio scambiato consuma risorse, ce ne è una tuttavia che è comune a tutti: l’energia
                    </i>
                </li>
                <li>
                    <i>
                        Ognuno di noi ha a propria disposizione un “budget energetico” sostenibile, che non dovrebbe essere superato
                    </i>
                </li>
                <li>
                    <i>
                        Conoscere il proprio budget ed i propri consumi porta alla consapevolezza e ci permette di scegliere la nostra strada verso la sostenibilità
                    </i>
                </li>
                <li>
                    <i>
                        La riduzione del consumo di energia costituisce una condizione necessaria ai fini della transizione alle energie rinnovabili
                    </i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="card-group">
    <div class="card no-border">
        {{ partial "cloudinary_image.html" (dict "image_name" "assets/img/supermarket_magdv1") }}
        <div class="card-body">
            <p class="card-text">Ok, questo prodotto è marchiato “bio” ma quanto impatta realmente sull’ambiente?</p>
        </div>
    </div>
    <div class="card no-border">
        {{ partial "cloudinary_image.html" (dict "image_name" "assets/img/airplane_gdzans") }}
        <div class="card-body">
            <p class="card-text">Il trasporto aereo ha un impatto notevole sull’ambiente. Più del treno, ma di quanto? E dell’auto? Sempre?</p>
        </div>
    </div>
    <div class="card no-border">
        {{ partial "cloudinary_image.html" (dict "image_name" "assets/img/bycicle_udbpah") }}
        <div class="card-body">
            <p class="card-text">Chi abita in zone montane difficilmente può usare la bicicletta quotidianamente. Alternative?</p>
        </div>
    </div>
    <div class="card no-border">
        {{ partial "cloudinary_image.html" (dict "image_name" "assets/img/driving_mgvzym") }}
        <div class="card-body">
            <p class="card-text">Ho acquistato un’auto nuova. A basse emissioni. Quanto questo realmente impatta sull’ambiente?</p>
        </div>
    </div>
</div>
</div>
{{ end }}
