{{ define "main" }}
<div class="container-fluid">
    <section id="our-numbers">
        <!--numbers-->
        <div class="row">
            <div class="col col-12 col-md-6 col-xl-3 col-center">
                <p class="promo fadein-scroll">30.000<span class="unit"> kWh</span></p>
                <p class="promo-description orange invert">Consumo medio annuo pro-capite di energia in Italia</p>
            </div>
            <div class="col col-12 col-md-6 col-xl-3 col-center">
                <p class="promo fadein-scroll">80<span class="unit"> kg</span></p>
                <p class="promo-description orange invert">Consumo medio annuo pro-capite di plastica in Italia</p>
            </div>
            <div class="col col-12 col-md-6 col-xl-3 col-center">
                <p class="promo fadein-scroll">76.000<span class="unit"> kWh</span></p>
                <p class="promo-description orange invert">Energia richiesta per realizzare un automobile</p>
            </div>
            <div class="col col-12 col-md-6 col-xl-3 col-center">
                <p class="promo fadein-scroll">13<span class="unit"> kWh</span></p>
                <p class="promo-description orange invert">Consumo di una TV LCD in stanby per un anno</p>
            </div>
        </div>
    </section>
</div>
<div class="fullwidth-container">
    <section class="fullwidth-section" id="prologue">
        <p class="site-title white fadein-scroll">
            Quanto pesano le scelte individuali sugli obiettivi di sostenibilità?
        </p>
        <p class="site-title orange fadein-scroll top" style="text-align: right;">Cosa significa 1 kg di CO2 nella vita
            quotidiana di ognuno di noi?
            <br>
            A cosa corrisponde?
        </p>
        <p class="site-title white">Tutti o quasi sanno che occorre ridurre i consumi energetici ma pochi sanno che</p>
        <div class="narrow right">
            <p class="white fadein-scroll top">gran parte dell’energia consumata nel mondo <br>
                non è quella elettrica utilizzata in casa per fare funzionare gli elettrodomestici<br>
                 o quella bruciata nel motore della propria auto, ma è quella incorporata negli oggetti <br>
                 e nei servizi che ogni giorno consumiamo …</p>
        </div>
    </section>
    <section class="fullwidth-section" id="perche">
        <p class="site-title white fadein-scroll top">perch&eacute; ResConDA</p>
        <div class="narrow right">
            <p class="darkblue fadein-scroll top">
                Resconda nasce per dare risposte a queste ed altre domande riguardo al nostro stile di vita, per offrire
                a tutti la
                possibilità di scegliere consapevolmente come e quanto modificarlo.
            </p>
            <p class="white importanttext fadein-scroll">Per limitare l'impatto ambientale dell'uomo sull'ecosistema
                occorre ridurre il consumo di energia. Per farlo occorre
                conoscere il costo energetico di ogni nostra scelta, allo stesso modo in cui valutiamo la nostra
                capacità di spesa
                quando acquistiamo qualcosa.</p>
        </div>
    </section>
    <section class="fullwidth-section" id="contare">
        <p class="site-title white fadein-scroll top">abbiamo iniziato a contare</p>
        <div class="mildgrey narrow right fadein-scroll">

            <p>
                Siamo un gruppo di persone consapevoli del fatto che difficilmente arriveranno soluzioni dall'alto.
                Persone che,
                come molti di noi, si sono interrogate su cosa sia necessario
                ed opportuno fare per l'emergenza ambientale;
            </p>
            <p>
                e che hanno avuto l'occasione di guardare più da vicino questo groviglio di questioni chiamato
                <b><i>sostenibilità</i></b>, uscendone
                con la convinzione che quantificare i fenomeni sia l'unica strada possibile per mettervi ordine e
                praticare una scelta
                quotidiana realmente consapevole.
            </p>
            <p>
                Per questo la nostra attività si focalizza sui <i><b>numeri della sostenibilità</b></i>, promuovendo
                azioni educative e formative
                sugli aspetti quantitativi connessi all'impatto ambientale delle più comuni pratiche di consumo.
            </p>
            <div class="row justify-content-center">
                <div class="col col-md-6">
                    <a href="/about">
                        <button type="button" class="btn btn-info text-white">leggi il nostro
                            manifesto</button>
                    </a>
                </div>
            </div>
        </div>
        <p class="site-title white fadein-scroll top">ci mettiamo la faccia</p>
        <div class="darkblue narrow right fadein-scroll top">
            <p>Resconda è il frutto dell'incontro di individui diversi con due cose in comune: consapevolezza e amore.
            </p>
            <p>Consapevolezza che la tutela dell'ambiente è oggi un'impresa necessaria quanto enorme.</p>
            <p>
                Amore per la realtà. La realtà dei numeri e delle relazioni causali. La realtà delle leggi fisiche della
                natura
                che
                presiedono e determinano tutti i fenomeni, compresi quelli umani,
                e che troppo spesso l'economia, la politica, la morale ed altre sovrastrutture tendono ad ignorare.
            </p>
            <p>
                Resconda è il prodotto della consapevolezza della sfida ambientale: crediamo nella necessità che le
                conoscenze
                necessarie per poterla affrontare siano rese disponibili
                a tutti.
            </p>
            <p>
                Il Consiglio Direttivo di Resconda è al momento costituito da Marcello Corongiu (Presidente), Paolo
                Marchetti
                (Segretario) Marco Marzot e Stefano Serra (Consiglieri).
            </p>
        </div>
    </section>
    <section id="team">
        <div class="row" style="margin-left: auto; margin-right: auto;">
            <div class="col col-12 col-md-6 col-xl-4">
                <div style="position: relative;">
                    {{ partial "cloudinary_image.html" (dict "image_name" "assets/img/people/marcello_corongiu_ceox1d" "class" "cover cover-50") }}
                    <div class="img-label bottom">Marcello</div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-xl-4 ">
                <div style="position: relative;">

                    {{ partial "cloudinary_image.html" (dict "image_name" "assets/img/people/paolo_marchetti_jokqkx" "class" "cover cover-50") }}
                    <div class="img-label bottom">Paolo</div>
                </div>
            </div>
            <!-- <div class="col col-12 col-md-6 col-xl-4 ">
                <div style="position: relative;">
                    {{ partial "cloudinary_image.html" (dict "image_name" "assets/img/people/marco_marzot_ccsvww" "class" "cover cover-50") }}
                    <div class="img-label bottom">Marco</div>
                </div>
            </div> -->
            <div class="col col-12 col-md-6 col-xl-3 ">
                <div style="position: relative;">
                    {{ partial "cloudinary_image.html" (dict "image_name" "assets/img/people/stefano_serra_p55e8b" "class" "cover cover-50") }}
                    <div class="img-label bottom">Stefano</div>
                </div>
            </div>
        </div>
    </section>
    <section id="animated">
        <div style="position: relative;">
            {{ partial "cloudinary_video.html" (dict "video_name" "assets/video/people_walking_hcfxq9" "video_type" "video/mp4" "class" "cover cover-70" "id" "peopleWalkingVideo" )}}
            <p class="site-title white overlay fadein-scroll" style="line-height: 1.35em;">Ogni giorno, <span class="bg-green">ognuno di noi decide</span> il futuro dei propri
                nipoti</p>
        </div>
    </section>
    <section class="fullwidth-section" id="shorttermgoal">
        <p class="site-title fadein-scroll">
            E’ ora di scendere nella realtà delle cose, delle soluzioni percorribili, dei numeri in gioco, delle
            priorità, delle
            scelte consapevoli.
        </p>
        <div class="narrow right">
            <p class="importanttext white">
                <span id="shortermgoalinvert">
                    Il nostro obiettivo a breve termine:</span><br>
                divulgare informazioni chiare e realizzare strumenti pratici che permettano in tempo reale
                di effettuare scelte d'acquisto e di comportamento realmente sostenibili.
            </p>
        </div>
    </section>
    <section id="samples">
        <div class="row gy-3 justify-content-center">
            <div class="col col-12 col-md-6 col-xl-3">
                <p class="promo fadein-scroll delay2x">10<span class="unit"> milioni di kWh</span></p>
                <div style="position: relative;">
                    <img class="cover cover-40"
                        src="https://res.cloudinary.com/resconda-it/image/upload/c_fill,h_667,w_500/v1662098870/assets/img/russian_convoy_utqvuj" />
                    <div class="img-label top dark">
                        L'energia dissipata nel Marzo 2022 per portare dalla Russia in Ucraina un convoglio militare
                        lungo 65 kilometri
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-xl-3">
                <p class="promo fadein-scroll delay2x">300<span class="unit"> kWh</span></p>
                <div style="position: relative;">
                    <img class="cover cover-40"
                        src="https://res.cloudinary.com/resconda-it/image/upload/c_fill,h_667,w_500/v1662098870/assets/img/PA030373_mini_n1yir9" />
                    <div class="img-label bottom">
                        L'energia media dissipata in carburante per portare un passeggero in aereo da Torino a Roma
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-xl-3">
                <p class="promo fadein-scroll delay3x">2<span class="unit"> kWh</span></p>
                <div style="position: relative;">
                    <img class="cover cover-40"
                        src="https://res.cloudinary.com/resconda-it/image/upload/c_fill,h_667,w_500/v1662098870/assets/img/glass_thumb_lhsf64" />
                    <div class="img-label top dark">
                        L'energia media incorporata in un bicchiere di vetro
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-xl-3">
                <p class="promo fadein-scroll delay4x">0.8<span class="unit"> kWh</span></p>
                <div style="position: relative;">
                    <img class="cover cover-40"
                        src="https://res.cloudinary.com/resconda-it/image/upload/c_fill,h_667,w_500/v1662098870/assets/img/cola_can_treonh" />
                    <div class="img-label bottom dark contrast">
                        L'energia media incorporata in una
                        lattina da 33 cl
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="joinus" class="fullwidth-section">
        <div class="row align-items-end">
            <div class="col-12 col-md-8">
                <p class="site-title">Unitevi a noi!</p>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <a href="/docs/resconda_modulo_adesione_socio.pdf"
                        download="resconda_modulo_adesione_socio.pdf"><button type="button"
                            class="btn btn-info text-white">Modulo di adesione</button></a>
                    <a href="/statuto" target="_blank"><button type="button" class="btn btn-info text-white">Lo
                            statuto</button></a>
                </div>
            </div>
        </div>
    </section>
    <section id="contactus" class="fullwidth-section">
        <p class="site-title fadein-scroll">o almeno iscrivetevi alla newsletter...</p>
        <div class="row justify-content-center" style="margin-top: 2em;">
            <!-- <div class="col-12 col-md-4">
                <p>Email:<br>
                    info [at] resconda.it</p>
                <p>
                    ResConDA<br>
                    Strada dei Tetti Bertoglio 79<br>
                    10132 Torino - Italia
                </p>
            </div> -->
            <div class="col-12 col-md-8">
                {{ partial "contactform.html" }}
            </div>
        </div>
    </section>
    {{ partial "podcast_links.html" . }}
</div>
{{ end }}
{{ define "footer_scripts" }}
<script src="/js/contact.js"></script>
{{ end }}