{{ define "header" }}
<div></div>
{{ end }}
{{ define "main" }}
<div class="container-fluid">
  <h2 class="site-title">{{.Title}}</h2>
  <!-- list template -->
  <div class="row row-cols-1 row-cols-md-2 g-4 pb-2">
    {{ range .RegularPages }}
    <!-- <div class="col"> -->
      <div class="card page-card" >
        <div class="card-body d-flex flex-column">
          <p>{{.Date| time.Format ":date_long"}}</p>
          <h3 class="card-title flex-grow-1">{{.Title}}</h3>
          {{ if isset .Params.classes 0 }}
          <div>{{ partial "tag_svg.html" (dict "label" (index .Params.classes 0) "width" "50px" "extra_class" "fill")}}</div>
          {{ end }}
          <div class="card-text my-2">{{.Summary}}</div>
          <a href="{{.Permalink}}" class="btn btn-secondary align-self-baseline">Leggi tutto</a>
        </div>
        {{ with .Params.cover_image }}
          {{$alt := (path.Split .)}}
          {{ partial "cloudinary_image.html" (dict "image_name" . "alt" $alt.File  "class" "card-img-top cover cover-30")}}
        {{end}}
      </div>
    <!-- </div> -->
    {{ end }}
  </div>
</div>
{{ end }}
