{{ define "header" }}
<div></div>
{{ end }}
{{ define "main" }}
<div class="container-fluid">
  <h2>{{.Title}}</h2>
  <!-- list template -->
  {{ range .RegularPages }}
  <div class="card page-card" >
    {{ with .Params.cover_image }}
      {{$alt := (path.Split .)}}
      {{ partial "cloudinary_image.html" (dict "image_name" . "alt" $alt.File ) "class" "card-img-top"}}
    {{end}}
    <div class="card-body">
      <h3 class="card-title">{{.Title}}</h3>
      {{with .Params.subtitle}}<h5 class="card-subtitle">{{.}}</h5>{{end}}
      <div class="card-text">{{.Summary}}</div>
      <a href="{{.Permalink}}" class="btn btn-secondary">Leggi tutto</a>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
