// hollow
.energy-tag {
    .tag_label {
        font-size: 31.75px;
        font-weight: bold;
        line-height: 1.25;
        font-family: 'Open Sans', sans-serif;
        text-align: end;
        letter-spacing: -1.71979px;
        text-anchor: end;
        fill-opacity: 1;
        stroke-width: 0.264583;
        transform: translateY(-1px);
    }
    .tag_frame {
        transform: scaleY(0.85) translateY(44px);
    }
    // DEFAULTS
    .tag_frame, .tag_ring {
        fill: none;
        stroke: black;
    }
    .tag_label {
        fill: black;
    }
    // per-class colors
    &.wh {
        .tag_frame, .tag_ring {
            fill: none;
            stroke: var(--site-color-logo-lightblue);
        }
        .tag_label {
            fill: var(--site-color-logo-lightblue);
        }
    }
    &.kwh {
        .tag_frame, .tag_ring {
            fill: none;
            stroke: var(--site-color-logo-blue);
        }
        .tag_label {
            fill: var(--site-color-logo-blue);
        }
    }
    &.mwh {
        .tag_frame, .tag_ring {
            fill: none;
            stroke: var(--site-color-logo-orange);
        }
        .tag_label {
            fill: var(--site-color-logo-orange);
        }
    }
    &.gwh {
        .tag_frame, .tag_ring {
            fill: none;
            stroke: var(--site-color-acidgreen);
        }
        .tag_label {
            fill: var(--site-color-acidgreen);
        }
    }
    &.twh {
        .tag_frame, .tag_ring {
            fill: none;
            stroke: var(--site-color-pink);
        }
        .tag_label {
            fill: var(--site-color-pink);
        }
    }
}
// fill
.energy-tag.fill{

    // DEFAULTS
    .tag_frame {
        fill: black;
    }
    .tag_ring {
        fill: white;
        stroke: black;
    }

    .tag_label {
        fill: white;
    }

    // per-class colors
    &.wh {

        .tag_frame {
        fill: var(--site-color-logo-lightblue);
        }
        .tag_ring {
            fill: white;
            stroke: var(--site-color-logo-lightblue);
        }

        .tag_label {
            fill: white;
        }
    }

    &.kwh {

        .tag_frame {
        fill: var(--site-color-logo-blue);
        }
        .tag_ring {
            fill: white;
            stroke: var(--site-color-logo-blue);
        }

        .tag_label {
            fill: white;
        }
    }

    &.mwh {

        .tag_frame {
        fill: var(--site-color-logo-orange);
        }
        .tag_ring {
            fill: white;
            stroke: var(--site-color-logo-orange);
        }

        .tag_label {
            fill: white;
        }
    }

    &.gwh {

        .tag_frame {
        fill: var(--site-color-acidgreen);
        }
        .tag_ring {
            fill: white;
            stroke: var(--site-color-acidgreen);
        }

        .tag_label {
            fill: white;
        }
    }

    &.twh {

        .tag_frame {
        fill: var(--site-color-pink);
        }
        .tag_ring {
            fill: white;
            stroke: var(--site-color-pink);
        }

        .tag_label {
            fill: white;
        }
    }
}