// 0. Site's logo colors
$logo-color-lightgrey: #B6BDCD; // rgb(182, 189, 205);
$logo-color-lightblue: #40C0F2; // rgb(33, 159, 198);
$logo-color-orange: #F77E04; // rgb(244, 147, 47);
$logo-color-blue: #66768D; // rgb(102, 118, 141);

$highlight: rgb(250, 100, 50);
$grey: rgba(200, 200, 200, 1.0);
$background1: #154051;
$background2: #47B4D1;
$background3: $logo-color-lightblue;
$background4: rgb(186, 218, 85);
$green01: #BADB55;
$background6: #395D70;

$colordarkblue: #281A39;
$colormildgrey: #626262;
$colorpink: #9C6ACE;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./bootstrap/scss/functions";

// 2. Include any default variable overrides here

$primary: $logo-color-lightblue;
$secondary: $logo-color-lightgrey;
$tertiary: $logo-color-blue;
$quaternary: $logo-color-orange;

// 3. Include remainder of required Bootstrap stylesheets
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/mixins";
@import "./bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
// --> these surely needed
@import "./bootstrap/scss/navbar";
@import "./bootstrap/scss/nav";
@import "./bootstrap/scss/list-group";
@import "./bootstrap/scss/card";
@import "./bootstrap/scss/buttons";
@import "./bootstrap/scss/transitions";
// <--
@import "./bootstrap/scss/utilities";
@import "./bootstrap/scss/reboot";
@import "./bootstrap/scss/type";
@import "./bootstrap/scss/images";
@import "./bootstrap/scss/containers";
@import "./bootstrap/scss/grid";
@import "./bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "./bootstrap/scss/utilities/api";

// 6. Add additional custom code here
//  @import "scss/color.scss";

// GLOBALS
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow-y: scroll; // always show the scroll bar to ensure narrower pages have same center
    height: 100%;
    font: 100%/1.5 sans-serif;
    word-wrap: break-word;
    margin: 0 auto; // padding: 1.5em;
}
body {
    font-family: 'Open Sans', sans-serif;
    /*font-weight: 300;*/
    color: $logo-color-blue;
    overflow: hidden;
    // padding-top: 91px;
}
// numbered lists
ol>li, ul>li {
  margin-bottom: 1em;
}
.numbered-headings {
  h1 {
      counter-reset: h2counter;
    }
  h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
  }
}
// #pageContent {
//   top: 91px;
//   position: relative;
// }
@media (max-width: 576px) {
  .navbar img {
    max-width: 200px;
  }
}
@media (min-width: 768px) {
    .container, .container-fluid {
        /*font-size: 125%; non l'ho capita*/
        max-width: 50em;
        .container-full {
            max-width: unset;
        }
    }
    div.narrow {
      width: 80%;
      &.right {
        margin-left: auto;
      }
    }
}
.navbar {
  background-color: transparent;
  transition: background-color 0.2s;
  &.background {
    background-color: transparentize($color: $logo-color-lightblue, $amount: 0.7);
  }
  & ul {
    margin: unset;
    & li {
      margin: unset;
    }
  }
}
@include media-breakpoint-down(lg) {
  .navbar-collapse {
    // background-color: transparentize($color: $logo-color-lightblue, $amount: 0.9);
    font-weight: bold;
    & .navbar-nav {
      align-items: end;
    }
    & .nav-item .nav-link {
      padding-right: 15px;
    }
  }
}
.navbar-logo {
  max-height: 91px;
}
h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom:  1.5rem;
    line-height: 1.25;
    // color: #333;
}
a {
    text-decoration: none;
    &:hover, &:focus, &:active {
        text-decoration: underline;
    }
}
p {
    margin: 1em 0;
    line-height: 1.5;
    code {
        background-color: #eee;
        padding: 0.05em 0.2em;
        border: 1px solid #ccc;
    }
}
ol, ul {
    margin: 1em;
    li {
        ol, ul {
            margin: 0 2em;
        }
        p {
            margin: 0;
        }
    }
}
dl {
    font-family: monospace, monospace;
    dt {
        font-weight: bold;
    }
    dd {
        margin: -1em 0 1em 1em;
    }
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    // padding: 0.5em;
}
.img-label {
  position: absolute;
  &.top {
    top: 20px;
  }
  &.bottom {
    bottom: 20px;
  }
  left: 10px;
  color: white;
  &.dark {
    color: $background6;
    &.contrast {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  font-weight: bold;
}
blockquote {
    padding-left: 1em;
    font-style: italic;
    border-left: solid 1px rgb(250, 100, 50);
}
table {
    font-size: 1rem;
    text-align: left;
    caption-side: bottom;
    margin-bottom: 2em;
    * {
        border: none;
    }
    thead, tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    tr:nth-child(even) {
        background-color: $logo-color-lightgrey;
    }
    tbody {
        display: block;
        max-height: 70vh;
        overflow-y: auto;
    }
    td, th {
        padding: 0.25em;
    }
}
table, .highlight>pre, pre.example {
    max-height: 70vh;
    margin: 1em 0;
    padding: 1em;
    overflow: auto;
    font-size: 0.85rem;
    font-family: monospace, monospace; // https://github.com/necolas/normalize.css#extended-details-and-known-issues
    border: 1px dashed transparentize($highlight, 0.5);
}
.title {
    font-size: 2.5em;
}
.subtitle {
    font-weight: normal;
    font-size: 0.75em;
    // color: #666;
}
.tags {
    // margin-top: -1.5rem;
    padding-bottom: 1.5em;
    li {
        display: inline;
        margin-right: 0.5em;
    }
}
#our-numbers{
  color: $logo-color-orange;
  p.promo-description{
    text-transform: uppercase;
  }
}
.promo{
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }
}
.fullwidth-section{
  padding-left: 10%;
  padding-right: 10%;
  @include media-breakpoint-up(lg) {
    padding-left: 20%;
    padding-right: 20%;
  }
  padding-top: 2em;
  padding-bottom: 2em;
}
#prologue{
  background-color: $background1;
}
#perche{
  background-color: $background2;
}
#contare, #la-faccia {
  background-color: $green01;
}
#team {
  background-color: $green01;
  padding: 0 5% 2em;
}
#animated p.overlay {
    position: absolute;
    bottom: 0px;
}
#shorttermgoal {
  background-color: $background6;
  color: $green01;
}
#shortermgoalinvert {
  color: $background6;
  background-color: $green01;
}
#samples {
  background-color: $background6;
  color: $logo-color-orange;
  padding-bottom: 2em;
  @include media-breakpoint-up(lg) {
    padding-left: 20%;
    padding-right: 20%;
  }
  img {
    max-height: 463;
  }
}
#joinus {
  background-color: $green01;
  color: $background6;
}
#contactus {
  background-color: $background2;
  color: white;
}
#contactForm .showtransition {
  transition: opacity 0.5s;
  opacity: 1;
  &.invisible {
    opacity: 0;
  }
}
$fadein_delay: 0.3s;
.fadein-scroll, .fadein-onload {
  opacity: 0;
  transform: translate(0, 10vh);
  &.top {
    transform: translate(0, -10vh);
  }
  transition: all 1s;
  transition-delay: $fadein_delay;
  &.delay2x {
    transition-delay: $fadein_delay * 2;
  }
  &.delay3x {
    transition-delay: $fadein_delay * 3;
  }
  &.delay4x {
    transition-delay: $fadein_delay * 4;
  }
  &.visible {
    opacity: 1;
    transform: translate(0, 0);
  }
}
figure {
    margin: 1em 0;
    figcaption {
        font-family: monospace, monospace; // https://github.com/necolas/normalize.css#extended-details-and-known-issues
        font-size: 0.75em;
        text-align: center;
        color: grey;
    }
}
a.btn:hover{
  text-decoration: unset;
}
// fontawesome icons
i.fa, i.fa-solid {
  color:  $tertiary;
}
.footnote-definition {
    sup {
        margin-left: -1.5em;
        float: left;
    }
    .footnote-body {
        margin: 1em 0;
        padding: 0 1em;
        border: 1px dashed transparentize($highlight, 0.7);
        background-color: $logo-color-lightgrey;
        p:only-child {
            margin: 0.2em 0;
        }
    }
}
.posts {
    margin: 0;
    padding-left: 1rem;
    list-style: none;
    .post {
        a {
            display: block;
            padding: 0.5em 0;
            color: black;
            text-decoration: none;
            &:hover, &:focus, &:active {
                background: $logo-color-lightgrey;
            }
        }
        date {
            font-family: monospace, monospace; // https://github.com/necolas/normalize.css#extended-details-and-known-issues
            font-size: 0.7rem;
            vertical-align: middle;
            padding-right: 2rem;
            color: grey;
        }
    }
}
.post-tag {
    background-color: #eff1f4;
    color: #bfbfbf;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 9px 15px;
    line-height: 1;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
}
.col-center {
    text-align: center;
}
.light {
    //color: $grey;
}
.wordcount {
  font-size: smaller;
  color: #AAAAAA;
}
/*tag cloud*/
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
  a {
    --size: 4;
    color: #a33;
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
    opacity: calc((15 - (9 - var(--size))) / 15); 
    /* these set the tag label size according to data-weight attr */
    font-size: calc(var(--size) * 0.25rem + 0.7rem);
    &[data-weight="1"] { --size: 1; };
    &[data-weight="2"] { --size: 2; };
    &[data-weight="3"] { --size: 3; };
    &[data-weight="4"] { --size: 4; };
    &[data-weight="5"] { --size: 5; };
    &[data-weight="6"] { --size: 6; };
    &[data-weight="7"] { --size: 7; };
    &[data-weight="8"] { --size: 8; };
    &[data-weight="9"] { --size: 9; };
  }
  /* this shows the counter next to the tag label */
  &[data-show-value] a::after {
    content: " (" attr(data-weight) ")";
    font-size: 1rem;
  }
}
/* lists */

.card.page-card {
    // these to remove bootstrap defaults
    border: none;
    border-radius: unset; ///
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    &:last-child {
      border-bottom: none;
    }
    .card-text {
        font-size: smaller;
        /*font-style: italic;*/
    }
}
/* Site header stuff*/

header {
    display: flex;
    justify-content: space-between;
    a+a {
        margin-left: 1rem;
    }
    margin-bottom: 5em;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#siteNavbar .nav-link{
  font-size: 1.3rem;
  border-radius: 10px;
  color: $logo-color-orange;
  // text-transform: uppercase;
  &.active{
    background-color: $logo-color-lightgrey;
  }
  &:hover{
    background-color: lighten($logo-color-lightgrey, 15%);  
    text-decoration: none;
  }
}
#siteNavbar .in-page-item a{
  text-transform: unset;
  font-size: unset;
}
span.unit {
  font-size: 0.5em;
}
.white {
  color: white;
}
.orange {
  color: $quaternary;
  &.invert {
    color: white;
    background-color: $quaternary;
  }
}
.darkblue {
  color: $colordarkblue;
}
.lightblue {
  color: $logo-color-lightblue;
}
.mildgrey {
  color: $colormildgrey;
}
.bg-green {
  background-color: $green01;
}
form.pink {
  & .form-control {
    color: white;
    background-color: $colorpink;
  }
  & button {
    color: black;
    background-color: white;
    border-color: $colorpink;
    border-width: 5px;
  }
}
.importanttext {
  font-size: x-large;
  font-weight: bold;
}
#masthead {
  justify-content: center;
}
.fullwidth-container{
  position: relative;
}
.fullwidth{
  width: 100%;
}
.overflow {
  max-width: unset;
  &.overflow-25{
    width: 125%;
    transform: translateX(-12.5%);
  }
  &.overflow-40 {
    width: 140%;
    transform: translateX(-20%);
  }
  &.overflow-50 {
    width: 150%;
    transform: translateX(-25%);
  }
}
.overlay {
  position: absolute;
  top: 10px;
  left: 20px;
  @include media-breakpoint-up(sm) {
    top: 120px;
    left: 25%;
  }
}
.fixed {
  position: fixed;
  z-index: -1;
}
.cover {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  &.cover-70 {
    height: 70vh;
  }
  &.cover-50 {
    height: 50vh;
  }
  &.cover-40 {
    height: 40vh;
  }
  &.cover-30 {
  height: 30vh;
  }
}
.site-title {
  font-weight: bold;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  line-height: 1;
  @include media-breakpoint-up(sm) {
    font-size: 4.5rem;
  }
}
.site-subtitle{
  font-size: 1.1rem;
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
  // color: #666666;
}
.site-heading {
    position: relative;
    
    .subheading {
      font-size: larger;
      color: #666666;
    }
    .header-image-overlay {
      position: absolute;
      top: 10px;
      opacity: 0.7;
    }
    @include media-breakpoint-up(sm) {
      .header-image-overlay {
          top: 65px;
      }
      h1.title {
          font-size: 4rem;
      }
    }
}

a>button {
  width: 100%;
}
/* Site footer stuff*/

.footer {
  background-color: $logo-color-orange;
  color: white;
  text-align: center;
  font-size: smaller;
  padding: 1em 0;
  p {
    padding: 0;
    margin: 0;
  }
}
/* Bootstrap overrides */

.card.no-border {
    border: unset;
}

// about page
#about-contare {
  background-color: $logo-color-lightblue;
}

// assunti di base page
#assunti {
  background-color: $background1;
  & .fancy-list {
    & .coltext {
      color: white;
    }
    & .colindex {
      color: $logo-color-orange;
      font-size: 3em;
      font-weight: bolder;
    }
  }
}

.fancy-list {
  & ol {
    list-style: none;
    counter-reset: item;
  }
  & li {
    counter-increment: item;
    &:before {
      margin-right: 10px;
      content: counter(item);
      color: $logo-color-orange;
      text-align: center;
      font-weight: bold;
      font-size: xx-large;
      &:nth-child(even) {
        list-style-position: inside;
        text-align: right;
      }
    }
  }
}