{{/* REQUIRED */}}
{{$image_name := .image_name }}
{{$width := .width }}

{{/* OPTIONAL */}}
{{$quality := or (.quality) ("auto") }}

{{$id := .Scratch.Get "id" or "" }}
{{$class := .Scratch.Get "class" or "" }}
{{$style := .Scratch.Get "style" or "" }}
{{$alt := .Scratch.Get "alt" or "" }}
<img
width="{{ $width }}"
id="{{ $id }}"
class="{{ $class }}"
style="{{ $style }}"
srcset="https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_{{ $quality }},w_256/{{ $image_name }} 256w,
https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_{{ $quality }},w_512/{{ $image_name }} 512w,
https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_{{ $quality }},w_768/{{ $image_name }} 768w,
https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_{{ $quality }},w_1024/{{ $image_name }} 1024w,
https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_{{ $quality }},w_1280/{{ $image_name }} 1280w"
src="https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_{{ $quality }},w_512/{{ $image_name }}"
alt="{{ $alt }}" />
