{{/* OPTIONAL */}}
{{$quality := or (.quality) ("auto") }}
<img
{{ with .width }} width="{{ . }}"{{ end }}
{{ with .id }} id="{{ . }}"{{ end }}
{{ with .class }} class="{{ . }}"{{ end }}
{{ with .style }} style="{{ . }}"{{ end }}
{{ with .alt }} alt="{{ . }}"{{ else }}alt="post-image"{{ end }}
{{ if $image_name := .image_name }}
srcset="{{ range $size := slice "256" "512" "768" "1024" "1280" }}
https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_auto,w_{{ $size }}/{{ $image_name }} {{ $size }}w,
{{end}}"
src="https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_{{ $quality }},w_512/{{ .image_name }}"
{{ else }}
{{ errorf "cloudinary_image partial needs the 'src' named attribute" }}
{{ end }}
/>
