{{/* REQUIRED */}}
{{$video_name := .video_name }}
{{$video_type := .video_type }}
{{$alt := .alt }}
{{$class := .class }}

{{/* OPTIONAL */}}
{{$quality := or (.quality) ("auto") }}

{{$style := .Scratch.Get "style" or "" }}
<video muted
    {{with .id}}id="{{ . }}"{{end}}
    {{with $class}}class="{{.}}"{{end}} 
    {{with $alt}}alt="{{.}}"{{else}}alt="post-image"{{end}} 
    style="{{ $style }}">
    <source 
src="https://res.cloudinary.com/resconda-it/video/upload/{{ $video_name }}" type="{{ $video_type }}" />
</video>