<!-- contact form -->
<form class="row gy-2 pink justify-content-center" id="contactForm">
    <div class="col-12">
        <input name="name" type="text" class="form-control" placeholder="Nome e cognome" aria-label="Nome e cognome">
    </div>
    <div class="col-12 col-md-6">
        <input name="email" type="email" class="form-control" placeholder="Email" aria-label="email">
    </div>
    <div class="col-12 col-md-6">
        <input name="phone" type="text" class="form-control" placeholder="Telefono" aria-label="telefono">
    </div>
    <div class="col-12">
        <textarea name="message" class="form-control" rows="10" placeholder="Messaggio" aria-label="messaggio"></textarea>
    </div>
    <div class="col-12" style="text-align: center;">
        <button type="button" class="btn showtransition invisible" id="friendlyCaptchaFormSubmit" form="contactForm" disabled>Invia</button>
    </div>
    <div class="frc-captcha" data-sitekey="FCMNSLE4OU3RUFTK" data-callback="friendlyCaptchaSolved"></div>
</form>
<div id="form-response">

</div>
<script>
    window.addEventListener("load", function (document, event) {
        $("#friendlyCaptchaFormSubmit").click(submitEvent => {
            formid = $("#friendlyCaptchaFormSubmit").attr('form');
            data = $(`#${formid}`).serialize();
            $.ajax({
                    type: "POST",
                    url: "/php/contact.php",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(JSON.stringify(data));
                        if(data.errors != undefined && data.errors.length > 0){
                            data.errors.forEach(element => {
                                errrow = $(`<div class="row bg-warning"><div class="col-12 col-md-6>${element}`);
                                $("#form-response").append(errrow); 
                            });
                        }else{
                            name = data.name;
                            successmsg = $('<div class="row bg-info" />')
                                .append(`<div class="col-12 col-md-6>Grazie ${name}! Ti contatteremo presto.</div>`);
                            $('#form-response').append(successmsg);
                            $('contactForm').find('input,textarea').val("");
                        }
                    },
                });
                submitEvent.preventDefault();
            });
    });
</script>