<!-- contact form -->
<form class="row gy-2 pink justify-content-center" id="contactForm" novalidate>
    <div class="col-12">
        <input name="name" type="text" class="form-control" placeholder="Nome" aria-label="Nome">
    </div>
    <div class="col-12 col-md-6">
        <input name="email" type="email" class="form-control" placeholder="Email" aria-label="email" required>
    </div>
    <div class="col-12 col-md-6">
        <input name="phone" type="text" class="form-control" placeholder="Telefono (opzionale)" aria-label="telefono">
    </div>
    <div class="col-12">
        <textarea name="message" class="form-control" rows="10" placeholder="Messaggio (opzionale)" aria-label="messaggio"></textarea>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" name="privacy" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Accetto i <a href="/privacy" class="greenlink">termini della privacy</a>
            </label>
        </div>
    </div>
    <div class="col-12" style="text-align: center;">
        <button type="button" class="btn showtransition invisible" id="friendlyCaptchaFormSubmit" form="contactForm" disabled>Invia</button>
    </div>
    <!-- <div class="frc-captcha" data-sitekey={{site.Params.friendly_captcha.site_key}} data-callback="friendlyCaptchaSolved" data-lang="it"></div> -->
    <div class="frc-captcha" data-sitekey={{site.Params.friendly_captcha.site_key}}></div>
</form>
<div id="form-response" class="mt-3">
</div>