<!-- we set this d-none by default as user may have dismissed the banner. JS script will check for dismissal cookie and, if not found, will remove the d-none class -->
<div id="emcoinapp-download-banner" class="d-none alert alert-warning alert-dismissible fade show" role="alert">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-auto">
            Vuoi provare il prototipo della nostra EmCoin app? Scarica e installa la <a href="/docs/app-release.apk">app per Android&nbsp;<i class="fa-solid fa-download"></i></a>
        </div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>