<div class="footer">
	<div class="container-xl container-full">
		<div class="row align-items-center ">
			<div class="col col-12">
				<p>© 2022 ResConDA - Associazione per la REStituzione CONsapevole del Debito Ambientale</p>
				<p>Strada dei Tetti Bertoglio 79 - 10132 TORINO C.F. 97878370010</p>
				<p>c.c. IBAN IT15 P050 1801 0000 0001 7229 865 - Associazione Resconda</p>
				<p><a href="mailto:info@resconda.it">info@resconda.it</a> - <a href="/">www.resconda.it</a> - <a
						href="/privacy">Privacy</a></p>
			</div>
		</div>
	</div>
</div>
