<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ .Site.Params.logo | absLangURL }}">
    {{ if .IsHome }}
    <title>{{ .Title | htmlUnescape }}</title>
    {{ else }}
        {{ if .Params.seoTitle | htmlUnescape }}
    <title>{{ .Params.seoTitle | htmlUnescape }}</title>
        {{ else }}
    <title>{{ .Title | htmlUnescape }}</title>
        {{ end }}
    {{ end}}
    {{ with .Params.cover_image.src }}
    <meta property="og:image" content={{ partial "GetCloudinaryURL.html" (dict "name" .)}} />
    <meta name="twitter:image" content={{ partial "GetCloudinaryURL.html" (dict "name" .)}} />
    {{ end }}
    <!-- Google fonts https://fonts.google.com/ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">

    <!-- Fontawesome Kit -->
    <script src="https://kit.fontawesome.com/4106bab399.js" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
    {{ $styles := resources.Get "style.scss" | toCSS  }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" />
    {{ if .Params.math }}{{ partial "helpers/katex.html"}}{{ end }}

    <!-- Friendly Captcha -->
    <script type="module" src="https://unpkg.com/friendly-challenge@0.9.6/widget.module.min.js" async defer></script>
    <script nomodule src="https://unpkg.com/friendly-challenge@0.9.6/widget.min.js" async defer></script>

    <!-- Mathjax -->
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <!-- FuseJS -->
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
    <!-- sharethis -->
    <script type="text/javascript"
        src="https://platform-api.sharethis.com/js/sharethis.js#property=65c60e0a3625b4001a8bcf63&product=inline-share-buttons&source=platform"
        async="async"></script>
</head>