<div class="container">
    <div class="row">
        <!-- USE SIDEBAR -->
   	    <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
        <h1>Una associazione finalizzata ad accrescere la consapevolezza collettiva</h1>            
        <p>E’ indispensabile promuovere una transizione socialmente sostenibile verso un modello economico volto alla conservazione delle risorse naturali ed in equilibrio con la capacità dell’ecosistema di rigenerarsi.</p>

        <p>Accrescere la propria consapevolezza in ordine all’impatto ambientale delle proprie scelte e comportamenti di consumo è una condizione necessaria al fine di perseguire l’obiettivo di ripristinare un sostanziale equilibrio tra attività umane ed ambiente. </p>
       	</div>
        {{ partial "sidebar.html" . }}
	</div>
</div>
