<!-- we set this d-none by default as user may have dismissed the banner. JS script will check for dismissal cookie and, if not found, will remove the d-none class -->
<div id="picsdisclaimer-banner" class="d-none alert alert-warning alert-dismissible fade show" role="alert">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6" style="font-size:smaller;">
            Resconda, prima di pubblicare foto, video o testi da internet, compie tutte le opportune verifiche al fine di accertarne
            il libero regime di circolazione e non violare i diritti di autore o altri diritti esclusivi di terzi. Per segnalarci
            eventuali errori nell'uso del materiale riservato, <a href="mailto:info@resconda.it">scriveteci</a>. Provvederemo prontamente
            alla rimozione del materiale lesivo di diritti di terzi.
        </div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>