<ul class="cloud" role="navigation" aria-label="Webdev tag cloud" data-show-value="true">
	{{ $data := newScratch }}
	{{ $data.Set "maxCount" 0 }}
	{{ $data.Set "minCount" 99999 }}
	
	{{ range (site.Taxonomies.tags) }}
		{{ $data.Set "maxCount" (math.Max .Count ($data.Get "maxCount")) }}
		{{ $data.Set "minCount" (math.Min .Count ($data.Get "minCount")) }}
	{{ end }}
	{{ $maxCount := $data.Get "maxCount" }}
	{{ $minCount := $data.Get "minCount"}}
	{{ $maxSize := 9 }}
	{{ $minSize := 1 }}
	{{ $steep := math.Div (math.Sub $maxSize $minSize) (math.Sub $maxCount $minCount)}}
	{{ range (site.Taxonomies.tags) }}
	{{ $size := math.Ceil (math.Mul $steep .Count )}}
	<li><a href="{{ .Page.Permalink }}" style="--size: {{$size}}" data-count="{{.Count}}">{{ .Page.Title }}</a></li>
	{{ end }}
</ul>
<style>
	ul.cloud a {
		--size: 4;
		color: #a33;
		display: block;
		font-size: 1.5rem;
		padding: 0.125rem 0.25rem;
		text-decoration: none;
		position: relative;
		opacity: calc((15 - (9 - var(--size))) / 15); 
		/* these set the tag label size according to data-weight attr */
		font-size: calc(var(--size) * 0.25rem + 0.7rem);
	}
	ul.cloud a::after {
		content: " (" attr(data-count) ")";
    	font-size: 1rem;
	}
</style>