<ul class="cloud" role="navigation" aria-label="Webdev tag cloud" data-show-value="true">
	{{ $data := newScratch }}
	{{ $data.Set "maxCount" 0 }}
	{{ range (site.Taxonomies.tags) }}
	<li><a href="{{ .Page.Permalink }}" data-weight="{{.Count}}">{{ .Page.Title }}</a></li>
	{{ $data.Set "maxCount" (math.Max .Count ($data.Get "maxCount")) }}
	{{ end }}
	{{ $maxCount := $data.Get "maxCount" }}
</ul>
<style>
	ul.cloud a {
		--size: 4;
		color: #a33;
		display: block;
		font-size: 1.5rem;
		padding: 0.125rem 0.25rem;
		text-decoration: none;
		position: relative;
		opacity: calc((15 - (9 - var(--size))) / 15); 
		/* these set the tag label size according to data-weight attr */
		font-size: calc(var(--size) * 0.25rem + 0.7rem);
	}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 0}}"] { --size: {{ math.Sub $maxCount 0}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 1}}"] { --size: {{ math.Sub $maxCount 1}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 2}}"] { --size: {{ math.Sub $maxCount 2}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 3}}"] { --size: {{ math.Sub $maxCount 3}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 4}}"] { --size: {{ math.Sub $maxCount 4}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 5}}"] { --size: {{ math.Sub $maxCount 5}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 6}}"] { --size: {{ math.Sub $maxCount 6}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 7}}"] { --size: {{ math.Sub $maxCount 7}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 8}}"] { --size: {{ math.Sub $maxCount 8}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 9}}"] { --size: {{ math.Sub $maxCount 9}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 10}}"] { --size: {{ math.Sub $maxCount 10}}}
	ul.cloud a[data-weight="{{ math.Sub $maxCount 11}}"] { --size: {{ math.Sub $maxCount 11}}}
</style>