{{ define "header" }}
<div></div>
{{ end }}
{{ define "main" }}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-12 col-xl-6">
      {{ partial "search_bar.html" . }}
    </div>
  </div>
  <div class="row mb-4">
    <div class="text-center" id="search_results_info">
      <div class="spinner-border d-none" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="info_message"></div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <div id="search_result_template" class="list-group-item list-group-item-action d-none">
        <a href="#" class="search-result-link">
          <div class="row">
            <div class="col d-flex">
              <div class="flex-fill"><h5 class="mb-1 search-result-title">title</h5></div>
              <div class="flex-fill text-end"><small class="search-result-date">date</small></div>
            </div>
          </div>
          <div class="row">
            <div class="col col-12">
              <p class="mb-1 search-result-summary">summary</p>
            </div>
          </div>
        </a>
        <div class="row">
            <div class="col col-9 col-md-10 col-xl-11">
              <div class="list-group list-group-horizontal-sm">
                  <a class="pill-element-template d-none list-group-item border-0 px-1" href="#"><span class="badge rounded-pill tag-pill"></span></a>
              </div>
            </div>
            <div class="col">
              <div class="list-group list-group-horizontal-sm justify-content-end">
                {{- range $className, $classObj := .Site.Taxonomies.classes -}}
                {{- partial "tag_svg.html" (dict "label" $className "width" "4rem" "extra_class" "fill d-none") -}}
                {{- end -}}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <div class="list-group" id="search_results"></div>
    </div>
  </div>
  <h2 class="site-title">{{.Title| htmlUnescape}}</h2>
  <!-- list template -->
  {{ template "_internal/pagination.html" . }}
  <div class="row row-cols-1 row-cols-md-2 g-4 pb-2">
    {{ $pages := .RegularPages }}
    {{ $paginator := .Paginate $pages.ByDate.Reverse 16 }}
    {{ range $paginator.Pages }}
      {{ partial "article_preview_list_item.html" . }}
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
