{{ define "header" }}
<div></div>
{{ end }}
{{ define "main" }}
<div class="container-fluid">
  <div class="row">
    <p><a href="/articles">Tutte le news</a></p>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-lg-8">
      <section id="main">
        <h1 id="title">
          {{ .Title| htmlUnescape }}
       </h1>
       <div style="position:relative;">
        {{ if isset .Params.classes 0 }}
          {{ with index .Params.classes 0 }}
            {{ partial "tag_svg.html" (dict "label" . "width" "4rem" "extra_class" "fill")}}
          {{ end }}
        {{ end }}
          {{ with .Params.cover_image}}
          {{ partial "cloudinary_image.html" (dict "image_name" .src "caption" .caption )}}
          {{end}}
        </div>
        <h4 id="date"> {{ dateFormat "2 January 2006" .Date.Local }} 
          <span class="wordcount">{{ .WordCount }} parole</span> 
        </h4>
        <div class="d-flex flex-row taglist">
          {{ with .Params.tags }}
            {{ range . }}
            <div class="p-1 align-middle">
              <a href="/tags/{{ . | urlize }}">
                <span class="badge rounded-pill tag-pill">
                  {{.}}
                </span>
              </a>
            </div>
            {{ end }}
          {{ end }}
        </div>
        <div>
          <article id="content">
             {{ .Content }}
            </article>
        </div>
        <div class="sharethis-inline-share-buttons"></div>
      </section>
    </div>
    <div class="col-12 col-lg-4">
      <aside id="meta">
        <div>
          <h5 class="fw-bold">Tags</h5>
          {{ partial "tag-cloud.html" }}
        </div>
        <div>
          <h5 class="fw-bold">Articoli recenti</h5>
          {{ .Scratch.Set "limit" 5 }}
          {{ partial "post-list.html" . }}
        </div>
      </aside>
    </div>
  </div>
</div>
{{ end }}