{{/* OPTIONAL */}}
{{$quality:= or (.Get "quality") ("auto") }}
{{$src := printf "https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_%s,w_512/%s" $quality (.Get "src") }}
{{$largesrc := replace $src ",w_512" "" }}
<a href="{{ $largesrc }}" target="_blank">
    <img {{ with .Get "width" }} width="{{ . }}" {{ end }} {{ with .Get "id" }} id="{{ . }}" {{ end }} {{ with .Get "class" }} class="{{ . }}"
        {{ end }} {{ with .Get "style" }} style="{{ . }}" {{ end }} {{ with .Get "alt" }} alt="{{ . }}" {{ else }}alt="post-image" {{
        end }} {{ if $image_name := .Get "src" }} srcset="{{ range $size := slice " 256" "512" "768" "1024" "1280" }}
        https://res.cloudinary.com/resconda-it/image/upload/f_auto,q_auto,w_{{ $size }}/{{ $image_name }} {{ $size }}w,
        {{end}}" src={{ $src }}
        {{ else }} {{ errorf "cloudinary_image partial needs the 'src' named attribute" }} {{ end }} />
</a>