<div class="details-block">
    <div class="card text-bg-light mb-3">
        <a data-bs-toggle="collapse" href="#collapseBody" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="card-header" {{ with .Get "headerstyle" }} style="{{ . | safeCSS }}"{{ end }}>{{ .Get "header" }}</div>
        </a>
        <div class="collapse" id="collapseBody">
            <div class="card-body" {{ with .Get "bodystyle" }} style="{{ . | safeCSS }}"{{ end }}>
                {{ with .Get "title" }}<h5 class="card-title">{{ . | markdownify }}</h5>{{ end }}
                <div class="card-text">
                    {{ .Inner | markdownify }}
                </div>
            </div>
        </div>
    </div>
</div>