<div class="row align-items-center">
    <div class="col col-2">
        {{ partial "cloudinary_image.html" (dict "image_name" "assets/img/bonifico_usdkbt") }}
    </div>
    <div class="col col-10">Intestato a <b>Associazione Resconda</b> <br><b>IBAN IT15 P050 1801 0000 0001 7229 865</b></div>
</div>
<div class="row align-items-center">
    <div class="col col-2">{{ partial "cloudinary_image.html" (dict "image_name" "assets/img/satispay-logo_yv9oeo") }}</div>
    <div class="col col-7">Tramite <a href="https://www.satispay.com/it-it/qrcode/?qrcode=https%3A%2F%2Fwww.satispay.com%2Fdownload%2Fqrcode%2FS6Y-SHP--3168CC8A-A41F-43A1-998A-524EB1B341A4">questo
    link</a> o scansionando il QR code</div>
    <div class="col col-3">{{ partial "cloudinary_image.html" (dict "image_name" "assets/img/QR_SATISPAY_oaxurw") }}</div>
</div>
<div class="row align-items-center">
    <div class="col col-2">{{ partial "cloudinary_image.html" (dict "image_name" "assets/img/71345_1_Dw4-tOJ_9myFUywLd3qzjA_onsfi9") }}</div>
    <div class="col col-7"><a href="https://paypal.me/resconda?country.x=IT&locale.x=it_IT">questo link</a> o scansionando il QR code</div>
    <div class="col col-3">{{ partial "cloudinary_image.html" (dict "image_name" "assets/img/QR_PAYPAL_zoqssj") }}</div>
</div>
